/*----------------------------------------TEST CONTENT---------------------------------*/
#division-1{
  margin:20px 0px 0px 0px;
}
.skills{
  background-color:HSL(219, 20%, 30%);
  margin: 10px -8px 10px -8px;
}
#skills {
  color:hsl(224, 51%, 11%);
  text-align: center;
  font-size: 30px;
  background-color:HSL(219, 20%, 34%);
  font-weight:bold;
}
.projects{
  font-size: 35px;
}


/*----------------------------------------TEST CONTENT---------------------------------*/


/*------------------------------------------ALL CONTENT------------------------------------*/
html{
background-color:HSL(219, 20%, 34%);
color:hsl(224, 51%, 11%);
  /*color:hsl(359, 0%, 80%);*/
}

.section{
  background-color:HSL(219, 20%, 34%);
  /*background-color:hsl(224, 51%, 11%);*/
}

.division{
  border:5px solid hsl(223, 45%, 28%);
  background-color:HSL(219, 20%, 30%);
}


/*-------------------------------------------------NAVBAR-------------------------------------*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: hsl(201, 26%, 50%);
}
/*------------------------------------------ NavBar Elements------------------------------------- */
.navlinks {
  float: left;
  color: hsl(224, 51%, 11%);
  font-weight:bold;
  font-size:25px;
  margin:15px 70px;
}

li a {
  display: block;
  color: hsl(36, 100%, 50%);;
  text-align: center;
  margin: 14px 26px;
  text-decoration: none;
}

li a:hover {
  background-color: hsl(36, 100%, 50%);
}

#bottom-button{
  float:right;
  color:hsl(224, 51%, 11%);
  font-weight:bold;
  font-size:25px;
}
/*-----------------------------------ANCHOR (A-Tag) ELEMENTS-------------------------------------*/
a{
  color:hsl(224, 51%, 11%);
}
/*----------------------------------HEADER ELEMENTS----------------------------------------*/
.headers{
  color: hsl(36, 100%, 50%);
  font-style:italic;
}
#headerlink{
  color: hsl(36, 100%, 50%);
  text-decoration:none;
}

/*-----------------------------PARAGRAPH ELEMENTS----------------------------------*/
p{
  font-size:27px;
}


/*-----------------------------------IMG ELEMENTS-----------------------------*/
img{
  
}

/*-----------------------------------H1-H6 ELEMENTS---------------------------------------*/
h1, h2, h3, h4, h5, h6{
  
}
h3{
  font-size:30px;
}


/*-----------------------------------CONTAINER ELEMENTS----------------------------------------*/
main{
  margin:0px 40px 0px 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
    grid-gap: 50px;
}

.upper{
  margin: 0px 0px 0px 0px;
    font-size:20px;
  border:2px solid hsl(223, 45%, 28%);
}

.lower{
  margin: -10px 0px 20px 0px;
    font-size:20px;
  border:2px solid hsl(223, 45%, 28%);
}

aside{
  float:right;
  width:15%;
  margin:25px 10px 0px 0px;
    border-left: solid 3px black;
}

/*-------------------------------------FOOTER ELEMENTS-----------------------------------*/
.footer{
  background-color: hsl(201, 26%, 60%);
  width:100%;
  font-size:25px;
  color: hsl(224, 51%, 11%);
  padding:10px 0px 10px 0px;
}

#bottom-jump{
  position:absolute;
 margin: 0px 0px 0px -8px;
  font-size:30px;
}

#top-jump{
  text-decoration: none;
  color:hsl(224, 51%, 11%); 
  float:right;
  margin:0px 0px 0px 0px;
    font-size:30px;
      font-weight:bold;
}

#github{
  padding:0px 0px 0px 0px;
}

#linkedin{
  padding:0px 0px 0px 0px;
}

/*----------------------------------------IMAGES-------------------------------------------*/
.galheader{
  text-align:center;
  Font-weight:bold;
  font-size:30px;
  border:2px solid hsl(36, 100%, 30%);
}

.gallery{
  width:100%;
}

#discordlogo{
  height:35px;
    width:130px;
}

#linkedinlogo{
  height:35px;
    width:200px;
}

#githublogo{
  height:35px;
    width:130px;
}

#techdoc{
  height:90%;
}
/*----------------------------------------MEDIA QUERIES-------------------------------------------*/
